.portfolio {
	width: 100%;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.portfolio__container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 65px 0 94px 0;
	text-align: center;
}

.portfolio-title__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px 70px 20px;
}
.portfolio__title{
	color: #413d4b;
	font-family: 'Playfair Display',serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}
.portfolio__link{
	color: black;

}
.gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 70px;
	max-width: 1064px;
	margin: 0 auto;
}

.gallery-item img {
	max-width: 266px;
	height: 200px;
}

.portfolio__button{
	padding: 9px 14px;
	font-family: 'Hammersmith One',sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #00e0d0;
	border: 1px solid #00e0d0;
}

@media (max-width: 768px) {
	.gallery-item {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.gallery-item {
		width: 100%;
	}
}